<div class="header">
  <a id="user-menu" href="/users/new"><img src="../images/user.svg"></a>
  <h1 id="logo"><a href='/'>BikeMD</a></h1>
  <a id="hamburger-menu" href="/symptoms"><img src="../images/hamburger-menu.png"></a>
<div>