<% if current_user %>
  <a href="/users/<%= current_user.id %>">Account</a>
  <a href="#">View my solutions</a>
  <a href="#">Upload new solution</a>
<% else %>
  <a href="/sessions">Log in</a>
  <a href="/users/new">Create an account</a>
<% end %>

